<div class="dashboard-container">

      <main class="dashboard-main">
        <div class="dashboard-row">
          <section class="dashboard-section work-queue-section">
            <app-work-queue>
            </app-work-queue>
          </section>

          <section class="dashboard-section portfolio-section">
            <app-portfolio>
            </app-portfolio>
          </section>

          <div class="doubled-section">
            <section class="dashboard-section quick-actions-section">
              <app-quick-actions> 
              </app-quick-actions>
            </section>
            
            <section class="dashboard-section market-intelligence-section">
              <app-market-intel >
              </app-market-intel>
            </section>
          </div>
        </div>

        <div class="dashboard-row">
          <section class="dashboard-section accounts-section">
            <app-my-accounts>
            </app-my-accounts>
          </section>
        </div>
      </main>
    </div>